.intro{
    background-image: linear-gradient(45deg, var(--cor-n3), var(--cor-n2));
    color: #fff;
    background-size: cover;
    margin-top: -80px;
}

.intro .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 150px 0% 20px 0;
}
  
.intro__texto{
    width: 100%;
    max-width: 700px;
}
  
.intro__texto h1{
    font-size: 5vw;
    margin: 0;
  }
  
.intro__texto p{
    padding-right: 7%;
  }
  
.intro img{
    height: 650px;
    margin-bottom: -19px;
}

@media (max-width: 576px) {
    .intro .container {
        flex-direction: column;
        padding: 20px;
    }
    .intro__texto{
        margin-top: 80px;
    }
    .intro img{
        width: 100%;
        height: auto;
    }
    .intro__texto h1 {
        font-size: 8vw;
    }

    .intro__texto p {
        padding-right: 0;
    }
} 

@media (min-width: 556px) {
    .intro img {
        width: 55%;
        height: auto;
    }
    .intro__texto{
        margin-left: 50px;
    }
}

