.projetos{
    max-width: 1760px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--cor-n5);
    color: var(--cor-n6);
    padding: 40px;
}

.projetos h2{
    margin-bottom: 10px;
}

.projetos p{
    margin-top: 0px;
}

#p-mobile{
    font-size: 20px;
    display: none;
    color: var(--cor-n4);
    font-weight: 300;
}

@media(max-width:768px){
    #p-mobile{
        display: block;
    }
}